svg {
  overflow: hidden;
}

text {
	font-weight: 300;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
	font-size: 14px;
}

g.node{
  cursor: pointer;
}

.node rect, .node ellipse, .node diamond, .node circle{
  stroke: #333;
  stroke-width: 1.5px;
  fill: #fff;
}


.edgeLabel rect {
  fill: #fff;
}

.edgePath {
  stroke: #333;
  stroke-width: 1.5px;
}


#graph-text{
	font-family: monospace;
}